@page "/userList"

@if (UserLists is null)
{
    <div class="d-flex flex-column h-100 justify-content-center align-items-center" style="padding: 30vh">
        <div class="spinner-border text-primary mb-3" role="status">
        </div>
        <div>
            <div style="font-size: larger; font-weight: 800; color: black;">Loading ... </div>
        </div>
    </div>
}
else
{
    <div class="card shadow">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">User List</h6>
        </div>
        <div class="card-body" style="height: 610px; overflow-y: auto;">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>User Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>No</th>
                            <th>User Code</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <AppModal @ref="Modal">
        <Title>Delete Notification</Title>
        <ChildContent>
            Are you sure to remove this Employee?
        </ChildContent>
        <Footer>
            <button class="btn btn-secondary" @onclick="() => Modal.Hide()">Cancel</button>
            <button class="btn btn-danger" @onclick="">Delete</button>
        </Footer>
    </AppModal>
}