@page "/userUpdate/{UserCode}"
@using EmployeeManagementSystem.Model.Models.User
<PageTitle>User Update</PageTitle>

<div class="card shadow">
    <div class="card-header d-flex align-items-center">
        <NavLink class="btn btn-dark mr-3" href="userList"><i class="fas fa-left-long fa-sm"></i> Back</NavLink>
        <h6 class="m-0 font-weight-bold text-primary">Employee Update</h6>
    </div>
    <EditForm Model="userModel" OnValidSubmit="Submit">
        <div class="card-body row " style="height: 74vh; padding: 0 100px">
            <div class=" col-6 " style="padding-top: 100px">
                <img class="w-75" src="/img/undraw_personal.svg" alt="Alternate Text" />
            </div>
            <div class="col-6 px-5 my-auto">
                <div class="row mb-2">
                    <div class="form-group col-12">
                        <label class="form-label">User Code</label>
                        <input type="text" class="form-control form-control-user"
                               id="userCode"
                               placeholder="UserCode" required
                               @bind="userModel.UserCode" disabled>
                    </div>
                </div>
                <div class="row  mb-2">
                    <div class="form-group col-12">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control form-control-user"
                               id="department"
                               placeholder="Department" required
                               @bind="userModel.UserName" disabled>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-12">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control form-control-user"
                               id="email"
                               placeholder="Department" required
                               @bind="userModel.Email" disabled>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group col-12">
                        <label class="form-label">Change Role</label>
                        <select class="form-control form-control-user"
                                @bind="userModel.RoleId">
                            <option value="1">Admin</option>
                            <option value="2">User</option>
                        </select>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary w-100">
                            <i class="fas fa-user-plus fa-sm"></i>
                            Update User
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
</div>
