@page "/login"
@layout EmptyLayout
@inject AuthenticationStateProvider AuthStateProvider

<EditForm Model="_loginModel" FormName="Login" OnValidSubmit="HandleLogin">
    <div class="container d-flex justify-content-center align-items-center" style="height: 70vh;">
        <div class="row w-75">
            <div class="col-4 offset-4">
                <div class="form-group mb-3">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Username" @bind-value="_loginModel.Email">
                </div>
                <div class="form-group mb-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" @bind-value="_loginModel.Password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <div>
                    Need an account?
                    <NavLink href="register" class="nav-link d-inline">Sign Up</NavLink>
                </div>
            </div>
        </div>
    </div>
</EditForm>
